* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scroll {
    margin: auto;
    width: 1900px;
    overflow: visible;
}

.scroll ul {
    padding: 0;
    display: flex;
    border-radius: 10px;
    animation: scroll 50s infinite linear;
}

.scroll ul:hover {
    animation-play-state: paused;
}

.scroll li {
    margin: 0 10px;
    list-style: none;
    position: relative;
    border-radius: 10px;
}

.scroll img {
    height: auto;
    width: 300px;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    border-radius: 10px;
    max-width: fit-content;
}

.scroll img:hover {
    transform: scale(1.04);
}

@keyframes scroll {
    from {
        margin-left: 0%
    }

    to {
        margin-left: -100%
    }
}
